<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="viewport"

          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta name="theme-color" content="#333">

    <title>miracleseed: Home</title>

    <meta name="description" content="miracleseed Worldwide is a flexible and progressive community of Business Entrepreneurs with the sole mission of eradicatingUnemployment, Poor Nutrition and Healthcare by providing a platform for consistent and affordable  Skills Acquisition, Training and Developing, simplified distribution network of Food Supplies,Charity and Campaign against Hunger and Malnutrition.">

    <link rel="shortcut icon" type="image/x-icon" href="{{asset('assets/img/logos/favicon.png')}}?v=3">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="{{asset('assets/css/preload.min.css')}}"/>

    <link rel="stylesheet" href="{{asset('assets/css/plugins.min.css')}}"/>

    <link rel="stylesheet" href="{{asset('assets/css/style.light-blue-500.min.css')}}"/>

    <link rel="stylesheet" href="{{asset('assets/css/custom.css')}}"/>

    <link rel="stylesheet" href="{{asset('assets/css/width-boxed.min.css')}}" id="ms-boxed" disabled="">

    <!--[if lt IE 9]>

    <script src="{{asset('assets/js/html5shiv.min.js')}}"></script>

    <script src="{{asset('assets/js/respond.min.js')}}"></script>

    <![endif]-->

</head>

<body>

<a href="javascript:void(0)"

   class="ms-conf-btn ms-configurator-btn btn-circle btn-circle-raised btn-circle-primary animated rubberBand">

    <i class="fa fa-sign-in"></i>

</a>

<div id="ms-configurator" class="ms-configurator">

    <div class="ms-configurator-title">

        <h3>

            <i class="fa fa-gear"></i> Account</h3>

        <a href="javascript:void(0);" class="ms-conf-btn withripple">

            <i class="zmdi zmdi-close"></i>

        </a>

    </div>

    <div class="panel-group" id="accordion_conf" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default">

            <div class="panel-heading" role="tab" id="ms-conf-header-color">

                <h4 class="panel-title">

                    <a role="button" class="withripple" data-toggle="collapse" data-parent="#accordion_conf"

                       href="#ms-collapse-conf-1" aria-expanded="true" aria-controls="ms-collapse-conf-1">

                        <i class="zmdi zmdi-invert-colors"></i> Menu </a>

                </h4>

            </div>

            <div id="ms-collapse-conf-1" class="panel-collapse collapse in" role="tabpanel"

                 aria-labelledby="ms-conf-header-color">

                <div class="card bg-white">

                    {{--<div class="card-header">{{ __('Login') }}</div>--}}



                    <div class="card-body ml-1 mr-1">

                        <nav>

                            <ul class="nav navbar-nav navbar-right">

                                <li>

                                    <a data-scroll href="#home" class="ms-conf-btn withripple">Home</a>

                                </li>

                                <li>

                                    <a data-scroll href="#about" class="ms-conf-btn withripple">About</a>

                                </li>

                                <li>

                                    <a data-scroll href="#features" class="ms-conf-btn withripple">Packages</a>

                                </li>

                                <li>

                                    <a data-scroll href="#plan">Marketing Plan</a>

                                </li>

                                <li>

                                    <a data-scroll href="#support" class="ms-conf-btn withripple">Support</a>

                                </li>

                                <li>

                                    <a data-scroll href="#shop" class="ms-conf-btn withripple">Shop</a>

                                </li>

                                <li>

                                    <a data-scroll href="#register" id="register_btn" class="register_link ms-conf-btn withripple register_btn">Register</a>

                                </li>

                                {{--<li>--}}

                                {{--<!-- Right Side Of Navbar -->--}}

                                {{--<ul class="navbar-nav ml-auto">--}}

                                    {{--<!-- Authentication Links -->--}}

                                    {{--@guest--}}

                                    {{--<li class="nav-item">--}}

                                        {{--<a class="nav-link" href="{{ route('login') }}">{{ __('Login') }}</a>--}}

                                        {{--</li>--}}

                                    {{--@if (Route::has('register'))--}}

                                    {{--<li class="nav-item">--}}

                                        {{--<a class="nav-link" href="{{ route('register') }}">{{ __('Register') }}</a>--}}

                                        {{--</li>--}}

                                    {{--@endif--}}

                                    {{--@else--}}

                                    {{--<li class="nav-item dropdown">--}}

                                        {{--<a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>--}}

                                            {{--{{ Auth::user()->name }} <span class="caret"></span>--}}

                                            {{--</a>--}}



                                        {{--<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">--}}

                                            {{--<a class="dropdown-item" href="{{ route('logout') }}"--}}

                                                   {{--onclick="event.preventDefault();--}}

                                {{--document.getElementById('logout-form').submit();">--}}

                                                {{--{{ __('Logout') }}--}}

                                                {{--</a>--}}



                                            {{--<form id="logout-form" action="{{ route('logout') }}" method="POST" style="display: none;">--}}

                                                {{--@csrf--}}

                                                {{--</form>--}}

                                            {{--</div>--}}

                                        {{--</li>--}}

                                    {{--@endguest--}}

                                    {{--</ul>--}}

                                {{--</li>--}}

                            </ul>



                        </nav>

                    </div>

                </div>

            </div>

        </div>

        <div class="panel panel-default">

            <div class="panel-heading" role="tab" id="ms-conf-header-color">

                <h4 class="panel-title">

                    <a role="button" class="withripple" data-toggle="collapse" data-parent="#accordion_conf"

                       href="#ms-collapse-conf-0" aria-expanded="true" aria-controls="ms-collapse-conf-1">

                        <i class="zmdi zmdi-invert-colors"></i> login </a>

                </h4>

            </div>

            <div id="ms-collapse-conf-0" class="panel-collapse collapse" role="tabpanel"

                 aria-labelledby="ms-conf-header-color">

                <div class="card">

                    {{--<div class="card-header">{{ __('Login') }}</div>--}}



                    <div class="card-body ml-1 mr-1">

                        <form method="POST" action="{{ route('login') }}">

                            @csrf

                            <div class="form-group row">

                                {{--<label for="email" class="col-md-4 col-form-label text-md-right">{{ __('E-Mail') }}</label>--}}



                                <div class="col-md-10">

                                    <input id="username" type="text" placeholder="Enter Username"

                                           class="form-control {{$errors->has('username' ? ' is-invalid': '')}}" name="username"

                                           value="{{ old('username') }}" required autocomplete="email" autofocus>



                                    @if($errors->has('username'))

                                    <span class="invalid-feedback" role="alert">

                                            <strong>

                                                {{$errors->first('username')}}

                                            </strong>

                                        </span>

                                    @endif

                                </div>

                            </div>



                            <div class="form-group row">

                                <div class="col-md-10">

                                    <input id="password" type="password" placeholder="Enter Password"

                                           class="form-control {{$errors->has('password' ? ' is-invalid': '')}}" name="password"

                                           required autocomplete="current-password">



                                    @if($errors->has('password'))

                                    <span class="invalid-feedback" role="alert">

                                            <strong>

                                                {{$errors->first('password')}}

                                            </strong>

                                        </span>

                                    @endif

                                </div>

                            </div>



                            <div class="form-group row">

                                <div class="col-md-8 offset-md-4">

                                    <div class="form-check">

                                        <input class="form-check-input" type="checkbox" name="remember"

                                               id="remember" {{ old('remember') ? 'checked' : '' }}>



                                        <label class="form-check-label" for="remember">

                                            {{ __('Remember Me') }}

                                        </label>

                                    </div>

                                </div>

                            </div>



                            <div class="form-group row mb-0">

                                <div class="">

                                    <button type="submit" class="btn btn-primary pull-right">

                                        {{ __('Login') }}

                                    </button>



                                    @if (Route::has('password.request'))

                                    <a class="btn btn-link" href="{{ route('password.request') }}">

                                        {{ __('Forgot Your Password?') }}

                                    </a>

                                    @endif

                                </div>

                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<div id="ms-preload" class="ms-preload">

    <div id="status">

        <div class="spinner">

            <div class="dot1"></div>

            <div class="dot2"></div>

        </div>

    </div>

</div>

<div class="sb-site-container" id="home">

    <nav class="navbar navbar-pr ms-lead-navbar bg-primary navbar-mode" style="background-color: darkorange!important; border-bottom:2px solid #ffffff;"

         id="navbar-lead">

        <div class="container container-full">

            <div class="navbar-header">

                <a class="navbar-brand" href="{{url('/')}}">

                    <img src="{{asset('assets/img/logos/logo-circle-darker.png')}}" style="max-width:50px;" alt="">

                    {{--<span class="ms-logo ms-logo-white ms-logo-sm">LS</span>--}}

                    <span class="ms-title">Life

                <strong>Seed</strong>

              </span>

                </a>

            </div>

            <div id="navbar" class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-right">

                    <li>

                        <a data-scroll href="#home">Home</a>

                    </li>

                    <li>

                        <a data-scroll href="#about">About</a>

                    </li>

                    <li>

                        <a data-scroll href="#features">Packages</a>

                    </li>

                    <li>

                        <a data-scroll href="#plan">Marketing Plan</a>

                    </li>

                    <li>

                        <a data-scroll href="#support">Support</a>

                    </li>

                    <li>

                        <a data-scroll href="#shop">Shop</a>

                    </li>

                    <li>

                        <a data-scroll href="#register" id="register_btn" class="register_link register_btn">Register</a>

                    </li>

                    {{--<li>--}}

                    {{--<!-- Right Side Of Navbar -->--}}

                    {{--<ul class="navbar-nav ml-auto">--}}

                        {{--<!-- Authentication Links -->--}}

                        {{--@guest--}}

                        {{--<li class="nav-item">--}}

                            {{--<a class="nav-link" href="{{ route('login') }}">{{ __('Login') }}</a>--}}

                            {{--</li>--}}

                        {{--@if (Route::has('register'))--}}

                        {{--<li class="nav-item">--}}

                            {{--<a class="nav-link" href="{{ route('register') }}">{{ __('Register') }}</a>--}}

                            {{--</li>--}}

                        {{--@endif--}}

                        {{--@else--}}

                        {{--<li class="nav-item dropdown">--}}

                            {{--<a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>--}}

                                {{--{{ Auth::user()->name }} <span class="caret"></span>--}}

                                {{--</a>--}}



                            {{--<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">--}}

                                {{--<a class="dropdown-item" href="{{ route('logout') }}"--}}

                                       {{--onclick="event.preventDefault();--}}

                    {{--document.getElementById('logout-form').submit();">--}}

                                    {{--{{ __('Logout') }}--}}

                                    {{--</a>--}}



                                {{--<form id="logout-form" action="{{ route('logout') }}" method="POST" style="display: none;">--}}

                                    {{--@csrf--}}

                                    {{--</form>--}}

                                {{--</div>--}}

                            {{--</li>--}}

                        {{--@endguest--}}

                        {{--</ul>--}}

                    {{--</li>--}}

                </ul>

            </div>

            <!-- navbar-collapse collapse -->

            {{--<a href="javascript:void(0)" class="ms-conf-btn ms-configurator-btn btn-navbar-menu visible-xs">--}}

            {{--<i class="zmdi zmdi-menu"></i>--}}

            {{--</a>--}}

        </div>

        <!-- container -->

    </nav>



    <div class="main" id="main">

        @yield('content')

    </div>

    <div class="btn-back-top">

        <a href="#" data-scroll id="back-top" class="btn-circle btn-circle-primary btn-circle-sm btn-circle-raised ">

            <i class="zmdi zmdi-long-arrow-up"></i>

        </a>

    </div>

</div>

<!-- sb-site-container -->

<div class="ms-slidebar sb-slidebar sb-left sb-momentum-scrolling sb-style-overlay">

    {{--<header class="ms-slidebar-header">--}}

    {{--<div class="ms-slidebar-login">--}}

        {{--<a href="javascript:void(0)" class="withripple">--}}

            {{--<i class="zmdi zmdi-account"></i> Login</a>--}}

        {{--<a href="javascript:void(0)" class="withripple">--}}

            {{--<i class="zmdi zmdi-account-add"></i> Register</a>--}}

        {{--</div>--}}

    {{--<div class="ms-slidebar-title">--}}

        {{--<form class="search-form">--}}

            {{--<input id="search-box-slidebar" type="text" class="search-input" placeholder="Search..." name="q" />--}}

            {{--<label for="search-box-slidebar">--}}

                {{--<i class="zmdi zmdi-search"></i>--}}

                {{--</label>--}}

            {{--</form>--}}

        {{--<div class="ms-slidebar-t">--}}

            {{--<span class="ms-logo ms-logo-sm">M</span>--}}

            {{--<h3>Material--}}

                {{--<span>Style</span>--}}

                {{--</h3>--}}

            {{--</div>--}}

        {{--</div>--}}

    {{--</header>--}}

    <ul class="ms-slidebar-menu" id="slidebar-menu" role="tablist" aria-multiselectable="true">

        <li>

            <a data-scroll class="link" href="#home">

                <i class="zmdi zmdi-home"></i> Home</a>

        </li>

        <li>

            <a data-scroll class="link" href="#services">

                <i class="zmdi zmdi-flight-takeoff"></i> Services</a>

        </li>

        <li>

            <a data-scroll class="link" href="#portfolio">

                <i class="zmdi zmdi-desktop-mac"></i> Portfolio</a>

        </li>

        <li>

            <a data-scroll class="link" href="#pricing">

                <i class="zmdi zmdi-money-box"></i> Marketing Plan</a>

        </li>

        <li>

            <a data-scroll class="link" href="#about">

                <i class="zmdi zmdi-info-outline"></i> About</a>

        </li>

        <li>

            <a data-scroll class="link" href="#team">

                <i class="zmdi zmdi-accounts"></i> Team</a>

        </li>

        <li>

            <a data-scroll class="link" href="#feedback">

                <i class="zmdi zmdi-email"></i> Feedback</a>

        </li>

    </ul>

</div>

<script src="{{asset('assets/js/plugins.min.js')}}"></script>

<script src="{{asset('assets/js/app.min.js')}}"></script>

<script src="{{asset('assets/js/configurator.min.js')}}"></script>

<script src="{{asset('assets/js/lead-full.js')}}"></script>

<script src="{{asset('assets/js/home-generic-7.js')}}"></script>

<script src="{{asset('assets/js/component-carousels.js')}}"></script>

<script src="{{asset('assets/js/custom.js')}}"></script>

</body>

</html>
